@font-face {
    font-family: Homemade Apple;
    src:url('HomemadeApple-Regular.ttf') format('truetype');
  }
@font-face{
    font-family: SVN-Gilroy;
    src: url('SVN-Gilroy\ Light.otf') format('truetype');
}

body{
    font-family: SVN-Gilroy;
}
a{
    text-decoration: none;
}
.Navigation-Bar{
    height: 116px;
    background: #FAFAFA;
    display: flex;
    align-items: center;
}
.logo{
    font-family: Homemade Apple;
    margin-left: 80px;
    font-size: 18px;
    font-style: normal;
    font-size: 18px;
    color: #231F20;
}
.menu-item{
    font-size: 18px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.head-item{
    margin: 15.5px;
    color: #000000;
}
.Navigation-Bar .button{
    padding: 14px 25px;
    color: #F7941E;
    margin-right: 34px;
    border-radius: 5px;
    border: 1px solid #F7941E;
    text-transform: uppercase;
    background: #FAFAFA;
}
.hero-side-image-right{
    background: #F1F1F2;
    height: 700px;
    display: flex;
}
.content{
    /* width: 50%; */
    flex-grow: 1;
    margin-left: 162px;
    margin-top: 154px;
}
.title{
    font-size: 56px;
    width: 433px;
    font-weight: bold;
}
.subtitle{
    margin-top: 32px;
    font-size: 20px;
    width: 422px;
}
.button-primary{
    background: #F7941E;
    border-radius: 5px;
    color: white;
    width: 200px;
    height: 60px;
    text-align: center;
    margin-top: 52px;
    text-transform: uppercase;
}
.background{
    width: 50%;
    background: url(background.jpg);
    background-size: cover;
    background-position: center;
}

.feature-split-right{
    background: #F1F1F2;
    height: 600px;
    display: flex;
}
.media{
    width: 50%;
    background-size: cover;
    background-position: center;
    background-image: url(image.jpg);
}
.content2{
    flex-grow: 1;
    margin-left: 105px;
    margin-top: 164px;
}
.title2{
    font-size: 32px;
    font-weight: bold;
}
.subtitle2{
    margin-top: 23px;
    width: 441px;
    font-size: 20px;
    text-align: justify;
}
.button2{
    border: 1px solid #F7941E;
    border-radius: 5px;
    color: #F7941E;
    width: 200px;
    height: 60px;
    text-align: center;
    margin-top: 35px;
    text-transform: uppercase;
}
